/* define our custom font which can be found in asset */
@font-face {
    font-family : 'Pixel Font';
    src: url(../assets/slkscr.ttf) format('truetype')
}

@font-face {
    font-family : 'Rainy Hearts';
    src: url(../assets/rainyhearts.ttf) format('truetype')
}

@font-face {
    font-family : 'BBall Boom';
    src: url(../assets/score.ttf) format('truetype')
}