/*body and html sect stylization */
html, body {
    /* no margin, sets the font, and background color*/
    margin: 0;
    font-family: 'Rainy Hearts';
    background: linear-gradient(to bottom, rgb(90, 101, 255), rgb(93, 160, 248));
    background-color: rgb(93, 160, 248);
}

/* center container stylization */
.center { 
    /* make it a flex box, stack its elements
    in a column, centers everything horz and vert */
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center; /*centers horizontally */
    height: 100vh;
}

/* name text stylization */
.name {
    font-size: 50px;
    margin: 10px;
    color: rgb(174, 174, 174);
    font-weight: bold;
}

/* navbar stylization */
.navbar a{
    text-decoration : none;
    font-size: 20px;
    font-style: italic;
    color: white;
}

/* about section stylization */
#about {
    height: 100%;
    padding-top: 10%;
    padding-left: 10%;
}

#about .textContainer {
    width: 50vh;
    height: 40vh;
    background-color: rgba(211, 64, 64, 0.3);
}

/* about header stylization */
#about h1 {
    color: white;
}