/*body and html sect stylization */
html, body {
    /* no margin, sets the font, and background color*/
    margin: 0;
    font-family: 'Rainy Hearts';
    background: linear-gradient(to bottom, rgb(90, 101, 255), rgb(93, 160, 248));
    background-color: rgb(93, 160, 248);
}

/*------- center container stylization, contains name and navbar --------*/
.center { 
    /* make it a flex box, stack its elements
    in a column, centers everything horz and vert */
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center; /*centers horizontally */
    height: 100vh;
}

.name {
    /* name text stylization */
    font-size: 50px;
    margin: 10px;
    color: rgb(137, 224, 255);
    font-weight: bold;
}

.navbar a{
    /* navbar stylization */
    text-decoration : none;
    font-size: 20px;
    font-style: italic;
    color: white;
}
/*-------------------------------------------

------- about section stylization -------*/
#about {
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

/*about container row*/
#about .aboutContainer{
    display: flex;
    height:40%;
    justify-content: left;
    column-gap: 2vw;
}

#about .aboutContainer .aboutText p{
    color: white;
    font-size: 2.5vw;
    margin-top: -1vw;
}

#about .aboutContainer .aboutText h1 span{
    color: rgb(137, 224, 255);
    background-color: rgb(255, 255, 255, 0.15);
    border-radius: 1vh;
    text-decoration: underline;
    font-size: 5.5vw;
}

#about .aboutContainer .duckFace {
    width:"40%"; 
    height:"auto";
    margin-top: 2%;
}

#about .line {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255, 0.15);
    margin-top: 5%;
}

#about .aboutTabs {
    display: flex;
    margin-top: 1vh;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    
}

#about .aboutTabs .tabLinks {
    margin-right: 5vw;
    margin-left: 1vw;
    margin-top: 3vh;
    margin-bottom: 0;
    font-weight: 1000;
    cursor:pointer;
    color: white;
    font-size: 4vw;
    position: relative;
}

#about .aboutTabs .tabLinks::after {
    content:"";
    background-color: white;
    position: absolute;
    width: 85%;
    left: 0;
    bottom: -0.5vh;
    height: 2px;
    background-color: white;
    transition: 0.5s;
}

/*-------end of about section sylization
----------------------------------------
/*project section stylization */
#projects {
    height: 100%;
    padding-left: 5%;
    padding-top: 5%;
}

/* contact me section stylization */
#contactMe {
    height: 100%;
    padding-left: 5%;
}