/*body and html sect stylization */
html, body {
    /* no margin, sets the font, and background color*/
    margin: 0;
    font-family: 'Rainy Hearts';
    background: linear-gradient(to bottom, rgb(90, 101, 255), rgb(93, 160, 248));
    background-color: rgb(93, 160, 248);
}

/* center container stylization */
.center { 
    /* make it a flex box, stack its elements
    in a column, centers everything horz and vert */
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    align-items: center; /*centers horizontally */
    height: 100vh;
}

/* name text stylization */
.name {
    font-size: 50px;
    margin: 10px;
    color: rgb(174, 174, 174);
    font-weight: bold;
}

/* navbar stylization */
.navbar a{
    text-decoration : none;
    font-size: 20px;
    font-style: italic;
    color: white;
}

/* about section stylization */
#about {
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

/* about header stylization */
#about h1 span{
    color: white;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 1vh;
}

#about .textContainer {
    width: 60%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1vh;
}

#about .textContainer p span{
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

/*project section stylization */
#projects {
    height: 100%;
    padding-left: 5%;
}

/* contact me section stylization */
#contactMe {
    height: 100%;
    padding-left: 5%;
}